.news {
  &__articles {
    &--loading {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &--article {
      a {
        text-decoration: none;
        .title {
          font-size: 20px;
          font-weight: 400;
          line-height: 24px;
          color: #1a0dab;
        }
        .description {
          margin-top: 8px;
          font-size: 14px;
          line-height: 1.4285714285714286em;
          color: #4d5156;
        }
        .tags {
          margin-top: 8px;
        }
        &:hover {
          .title {
            text-decoration: underline;
          }
        }
      }
    }
  }
  &__searchBar {
    &--search {
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #212529;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border-radius: 0.375rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      .icon {
        font-size: 20px;
        color: #858585;
        margin-right: 5px;
      }
      .tags {
        margin-right: 5px;
        .tag {
          font-size: 0.8rem;
          cursor: default;
          &--icon {
            margin-left: 5px;
            cursor: pointer;
          }
        }
      }
      input {
        border: none;
        min-height: 30px;
        word-wrap: break-word;
        flex-grow: 1;
        &:focus-visible {
          outline: none;
        }
      }
    }
  }
}

.schedule {
  &__dateBar {
    &--weekdays {
      .weekdays--item {
        background: #f2f2f2;
        text-align: center;
        padding: 12px 6px;
        height: 70px;
        line-height: 1.6;
        border-right: solid 1px #fff;
        cursor: pointer;
        p {
          margin: 0;
          font-size: 1rem;
        }
        .followingDay {
          font-weight: bold;
        }
      }
      .active {
        background: #37b349;
        color: #fff;
      }
    }

    &--chooseDay {
      cursor: pointer;
      .btnTriggerDate {
        border: none;
        background: #d7d7d7;
        font-weight: bold;
        text-align: center;
        width: 100%;
        height: 100%;
        height: 70px;
        padding: 12px 6px;
        line-height: 1.6;
      }
    }
  }

  &__content {
    &--title {
      text-align: center;
      font-size: 1.5rem;
    }

    &--scheduleOnleague {
      .match {
        // background-color: #fff;
        font-size: 14px;
        position: relative;
        padding: 12px 0;
        width: 100%;
        display: flex;
        border-bottom: solid 1px #eaeaea;
        line-height: 1.5;
        .timeAndRound {
          width: 20%;
          .time {
            display: inline-block;
            width: 60%;
          }
          .round {
            display: inline-block;
            width: 30%;
            text-align: right;
          }
        }
        .club1 {
          width: 27%;
          position: relative;
          padding-right: 30px;
          p {
            margin-bottom: 0;
            text-align: right;
          }
          img {
            position: absolute;
            top: 0;
            right: 0;
            height: 20px;
            width: 20px;
            border-radius: 100%;
          }
        }
        .club2 {
          width: 27%;
          position: relative;
          padding-left: 30px;
          p {
            margin-bottom: 0;
            text-align: left;
          }
          img {
            position: absolute;
            top: 0;
            left: 0;
            height: 20px;
            width: 20px;
            border-radius: 100%;
          }

        }
        .score {
          text-align: center;
          padding: 0 6px px;
          width: 14%;
          span {
            display: inline-block;
            background: #37b349;
            color: #fff;
            cursor: pointer;
            font-size: 14px;
            font-weight: bold;
            width: 48px;
            height: 24px;
            line-height: 24px;
            border-radius: 16px;
            text-align: center;
          }
        }
        .detail {
          width: 10%;
          text-align: right;
          a {
            display: inline-block;
            height: 32px;
            line-height: 32px;
            width: 32px;
            text-align: center;
            position: relative;
            background: #f2f2f2;
            border-radius: 100%;
            svg {
              display: inline-block;
              font-size: 12px;
              color: #3faa55;
              font-weight: bold;
            }
          }
        }
      }
      .leagueName {
        background-color: #f2f2f2;
        padding: 10px px 12px;
        font-weight: bold;
        h3 {
          color: #222;
          font-size: 1.3rem;
          margin: 0;
        }
      }
    }
  }
}
