.rightSideBar {
  
  &__tags {
    &--line {
      width: 100%;
      border: 1px solid #dee2e6;
    }
    &--title {
      font-size: 1rem;
      font-weight: bold;
    }
    &--list {
      .tag {
        font-size: 1rem;
        margin-top: 5px;
      }
    }
    &--loading {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &--showmore{
      font-size: 0.8rem;
      cursor: pointer;
      text-align: center;
      margin-top: 10px;
    }
  }
}


